@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* THEME COLOR */
    /* Note: Color should in RGB format, otherwise tailwind opacity won't works!! */

    --color-text-base: 255, 255, 255;
    --color-text-inverted: 255, 255, 255;
    --color-text-accent: 46, 196, 182;
    --color-text-button-base: 255, 255, 255;
    --color-text-button-inverted: 6, 196, 182;

    --color-bg-base: 6, 25, 23;
    --color-bg-accent: 46, 196, 182;
    --color-bg-gray: 48, 52, 52;

    --color-button-bg-base: 46, 196, 182;
    --color-button-bg-inverted: 255, 255, 255;

    --color-border-base: 46, 196, 182;
    --color-border-gray: 76, 78, 82;
  }

  .theme-light {
    /* THEME COLOR */
    /* Note: Color should in RGB format, otherwise tailwind opacity won't works!! */

    --color-text-base: 59, 59, 59;
    --color-text-inverted: 255, 255, 255;
    --color-text-accent: 46, 196, 182;
    --color-text-button-base: 255, 255, 255;
    --color-text-button-inverted: 76, 78, 82;

    --color-bg-base: 255, 255, 255;
    --color-bg-accent: 46, 196, 182;
    --color-bg-gray: 244, 244, 244;

    --color-button-bg-base: 46, 196, 182;
    --color-button-bg-inverted: 236, 236, 236;

    --color-border-base: 46, 196, 182;
    --color-border-gray: 169, 169, 169;
  }

  * {
    font-family: "Poppins", sans-serif;
  }

  td {
    @apply py-1 w-64;
  }
}

@layer components {
  .shape {
    clip-path: polygon(0 0, 100% 0%, 59% 100%, 0% 100%);
  }

  .button-primary:hover > .button-icon {
    @apply w-full;
  }

  .flip-card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
}

/* REACT MODAL */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* REACT SLICK */
.slick-dots {
  bottom: 20px !important;
}

.slick-dots li button:before {
  font-size: 8px !important;
}

.slick-dots li.slick-active button:before {
  @apply text-skin-base !important;
}
